#editGameTitle {
    text-align: center;
}

#backToCreateGame {
    margin-left: 35%;
    padding-top: 10%;
}

#editGame {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#editGameButton {
    margin-left: 38%;
}
