<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <ng-container *ngIf="loggedInUser.roleID == 1">
        <h2 id="createEventTitle">Create Event</h2>
        <br>
        <p><a routerLink="/calendar" id="backToCalendar">Back to Calendar</a></p>
        <form #createEventForm="ngForm"  (ngSubmit)="createEvent()" ngNativeValidate  autocomplete="off">
            <label id="createEventLabel" for="Description">Description</label>
            <input id="createEventInput" name="Description" [(ngModel)]="event.description" class="form-control me-2" type="text" required placeholder="Description">
            <br>
            <label id="createEventLabel" for="Message">Message</label>
            <input id="createEventInput" name="Message" [(ngModel)]="event.message" class="form-control me-2" type="text" required placeholder="Message">
            <br>
            <label id="createEventLabel" for="Location">Location</label>
            <input id="createEventInput" name="location" [(ngModel)]="event.location" class="form-control me-2" type="text" required placeholder="Location">
            <br>
            <label id="createEventLabel" for="StartTime">Start Time</label>
            <input id="createEventInput" name="StartTime" [(ngModel)]="event.startTime" class="form-control me-2" type="datetime-local" required>
            <br>
            <label id="createEventLabel" for="EndTime">End Time</label>
            <input id="createEventInput" name="EndTime" [(ngModel)]="event.endTime" class="form-control me-2" type="datetime-local" required>
            <br>
            <button id ="createEventButton" class="btn btn-outline-success" type="submit">Create</button>
          </form>
    </ng-container>

    <ng-container *ngIf="loggedInUser.roleID != 1">
        <h2 class="text-center">Not Authorized</h2>
        <p class="text-center"><a  [routerLink]="['']">Go home.</a></p>
      </ng-container>
</div>

<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
</div>