#createEventTitle {
    text-align: center;
}

#backToCalendar {
    margin-left: 35%;
}

#createEventLabel {
    margin-left: 35%;
}

#createEventInput {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#createEventButton {
    margin-left: 47%;
}