<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <ng-container *ngIf="loggedInUser.roleID == 1">
      <h3 id="createGameTitle">Create Game</h3>
      <a routerLink="/games" id="backToCreateGame">Back to Games</a><br>
      <form #createGameForm="ngForm"  (ngSubmit)="createGame()" ngNativeValidate  autocomplete="off" id="createGame">
        <label for="GameDate"></label>
        <input name="DateRequested" [(ngModel)]="newGame.gameDate" class="form-control me-2" type="datetime-local" required placeholder="Date" id="createGameDate">
        <br>
        <label for="ItemId" id="homeTeamLabel">Home Team</label>
        <select name="HomeTeam" [(ngModel)]="newGame.homeTeam" required id="homeTeamDropdown">
          <option selected></option>
          <option *ngFor="let team of teamList">{{team.name}}</option>
        </select>
        <label for="ItemId" id="awayTeamLabel">Away Team</label>
        <select name="AwayTeam" [(ngModel)]="newGame.awayTeam" required id="awayTeamDropdown">
          <option selected></option>
          <option *ngFor="let team of teamList">{{team.name}}</option>
        </select>
        <br>
        <br>
        <button class="btn btn-outline-success" type="submit" id="createGameButton">Create</button>
      </form>
    </ng-container>

    <ng-container *ngIf="loggedInUser.roleID != 1">
      <h2 class="text-center">Not Authorized</h2>
      <p class="text-center"><a  [routerLink]="['']">Go home.</a></p>
    </ng-container>
  </div>
  
  <!-- If the user is not logged in -->
  <div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
  </div>