<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <div>
        <h2 id="newsTitle" style="text-align: center;">League Articles</h2>
        <button [routerLink]="['/teamNews']"> Team News </button>
        <a *ngIf="accountService.isLeagueAdminAuthorized(loggedInUser)" routerLink="/article/create/0">Create Article</a>
    </div>

    <!-- I would like to color articles differently if they are not visible but the coach can see them -->

    <ng-container *ngFor="let article of articles; let o = odd;">
        <div *ngIf="article.isVisible || accountService.isLeagueAdminAuthorized(loggedInUser)" [ngClass]="{'pinned': article.Pinned == true}">
            <h6> {{article.title}} </h6>
            <p style="color: red;" *ngIf="!article.isVisible && accountService.isLeagueAdminAuthorized(loggedInUser)">
                THIS ARTICLE IS MARKED AS INVISIBLE, AND SO YOUR PLAYERS WILL BE UNABLE TO SEE IT.
            </p>
            <p> 
                {{article.date}}  
                <a [routerLink]="['/article/edit', article.id, 0]" *ngIf="accountService.isLeagueAdminAuthorized(loggedInUser)">Edit</a>
            </p>
            <p> {{article.body}} </p>
            <br/>
        </div>
    </ng-container>
</div>

<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <div>
        <h2 id="newsTitle" style="text-align: center;">League Articles</h2>
    </div>

    <ng-container *ngFor="let article of articles; let o = odd;">
        <div *ngIf="article.isVisible" [ngClass]="{'pinned': article.Pinned == true}">
            <h6> {{article.title}} </h6>
            <p> {{article.date}} </p>
            <p> {{article.body}} </p>
            <br/>
        </div>
    </ng-container>
</div>