#createPlayerTitle {
    text-align: center;
}

#backToUsers {
    margin-left: 35%;
}

#createPlayerLabel {
    margin-left: 35%;
}

#createPlayerInput {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#createPlayerButton {
    margin-left: 47%;
}