<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
   <div class="container">
    <h2 id="playsTitle">View Plays</h2>
    <br>
    <div *ngIf="chosenplaybookId == 0"  class="parent flex-parent" style="text-align: right">
      <p style="text-align: right" class="flex-child">Select a Playbook to draw a play</p>
    </div>
    <div *ngIf="chosenplaybookId != 0"   class="parent flex-parent">
        <div class="flex-child" style="text-align: right"><a class="nav-link" [routerLink]="['/draw',chosenplaybookId]">Create Play</a></div>
    </div>

    <div *ngIf="createNewPlaybook">
      <p>Enter the name of your new Playbook</p>
      <form #createPlaybookForm="ngForm" class="d-flex" (ngSubmit)="savePlaybook()" autocomplete="off">
      <input name="name" [(ngModel)]="newPlaybook.name" class="form-control me-2" type="text" placeholder="Name">
      <button class="btn btn-outline-success" type="submit">Create</button>
  </form>

    </div>
    <select (change)="selectPlayBook($event)"> 
        <option value="0">--PlayBooks--</option>
        <option  *ngFor="let booklist of TeamPlaybookList" value={{booklist.name}}>
          {{booklist.name}}
        </option>
        </select>

 <button (click)="userWantsNewPlaybook()">New Playbook</button>
    <table class="table table-striped" style="text-align: center;">
    <caption></caption>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th *ngIf="accountService.isCoachAuthorized(loggedInUser)" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let plays of play">
            <td>{{plays.Name}}</td>
            <td>{{plays.Description}}</td>
            <td><img width="400" height="400" src="{{plays.ImageString}}" alt="Image not found"/></td>
            <td *ngIf="accountService.isCoachAuthorized(loggedInUser)" style="vertical-align: middle;"><button class="btn btn-danger" (click)="deletePlay(plays.playID)">Delete</button></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>


<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
</div>