<div class="container">
    <h2 class="text-center">Messaging</h2>
    <div>
        <h5>Conversations</h5>
        <button class="btn btn-primary btn-sm">Create Group</button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="user-container">
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione exercitationem sapiente ad debitis, ea numquam neque similique quia modi, obcaecati, aliquam eveniet. Illum autem temporibus officia alias enim natus. -->
                <!-- <br> -->
                <div class="inboxes">
                    <p>some text</p>
                </div>
                <div class="inboxes">
                    <p>some text</p>
                </div>
                <div class="inboxes">
                    <p>some text</p>
                </div>
                <div class="inboxes">
                    <p>some text</p>
                </div>
                <div class="inboxes">
                    <p>some text</p>
                </div>
                <div class="inboxes">
                    <p>some text</p>
                </div>
                <div class="inboxes">
                    <p>some text</p>
                </div>
                <div class="inboxes">
                    <p>some text</p>
                </div>
                <div class="inboxes">
                    <p>some text</p>
                </div>
            </div>
        </div>
        <div class="col-md-9"> 
            <div class="chat-container">
                <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolorum debitis eius doloribus? Impedit voluptatibus ipsum nisi recusandae minus nostrum autem, inventore odit porro ab. Vitae id reprehenderit alias! Illum. -->
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
                <div class="chat-message">
                    <span>Some text</span>
                </div>
            </div>
            <div class="chat-group-information">
                <span>
                    Some group information in here
                </span>
            </div>
            <div class="chat-textarea-submit">
                <textarea name="message" id="txtMessage" class="form-control"></textarea>
                <button class="btn btn-primary">Send message</button>
            </div>

        </div>
    </div>
    
</div>
