<h2 class="text-center">Messaging</h2>
<div>
    <h5>Conversations</h5>
    <button class="btn btn-primary btn-sm">Create Group</button>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="user-container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione exercitationem sapiente ad debitis, ea numquam neque similique quia modi, obcaecati, aliquam eveniet. Illum autem temporibus officia alias enim natus.
            <br>
        </div>
    </div>
    <div class="col-md-9"> 
        <div class="chat-container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolorum debitis eius doloribus? Impedit voluptatibus ipsum nisi recusandae minus nostrum autem, inventore odit porro ab. Vitae id reprehenderit alias! Illum.
        </div>
    </div>
</div>