#drawPlayTitle {
    text-align: center;
    margin-left: 28%;
}

#backToPlaybook {
    margin-right: 20%;
}

#resetCanvas {
    margin: 100vh;
}

#drawCanvas {
    display: block;
    margin-top: -2%;
}

#eraserButton {
    background-color: gray;
}

#drawPlayName {
    margin-left: 28%;
    width: 20%;
}

#drawPlayDescription {
    margin-right: auto;
    width: 20%;
}

#drawPlayCreate {
    margin-right: 25.5%;
}