<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <h2 id="gamesTitle">Games</h2>
    <a *ngIf="loggedInUser.roleID === 1" routerLink="/games/create">Create Game</a>
        <table class="table table-striped" id="games" style="text-align: center;">
            <caption></caption>
            <tr>
                <th scope="col">Game Time</th>
                <th scope="col">Home Team</th>
                <th scope="col">Home Score</th>
                <th scope="col">Away Team</th>
                <th scope="col">Away Score</th>
                <th scope="col">Winning Team</th>
                <th scope="col">Highlights</th>
                <th *ngIf="loggedInUser.roleID === 1" scope="col">Admin</th>
            </tr>
                <ng-container *ngFor="let game of games">
                    <tr *ngIf="game.homeTeamID == loggedInUser.teamId || game.awayTeamId == loggedInUser.teamId">
                        <td>{{game.test}}</td>
                        <td>{{game?.homeTeam?.name}}</td>
                        <td>{{game.homeScore}}</td>
                        <td>{{game?.awayTeam?.name}}</td>
                        <td>{{game.awayScore}}</td>
                        <td>{{game?.winner?.name}}</td>
                        <td>
                            <ul>
                                <li *ngIf="game.statistic1">{{game.statistic1}}</li>
                                <li *ngIf="game.statistic2">{{game.statistic2}}</li>
                                <li *ngIf="game.statistic3">{{game.statistic3}}</li>
                            </ul>
                        </td>
                        <td><a *ngIf="game.winningTeam == 0" routerLink="/games/edit/{{game.gameID}}">Edit</a></td>
                    </tr>
                </ng-container>
            
        </table>

</div>

<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
</div>