<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser" id="players">
    <h2 id="playersTitle">Players Details</h2>
    <a routerLink="/players/create">Create User</a><br>
    <table class="table table-striped">
        <caption></caption>
        <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Username</th>
            <th scope="col">Team</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let user of users">
                <tr *ngIf="user.teamID === loggedInUser.teamID">
                    <td>{{user.fullName}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user?.team?.name}}</td>
                    <td>{{user?.role?.roleName}}</td>
                    <td>
                        <a [routerLink]="['/players/details', user.userID]">Details</a> &nbsp;
                        <a [routerLink]="['/players/edit', user.userID]" *ngIf="loggedInUser.roleID === 1 || loggedInUser.userID === user.userID">Edit</a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
</div>
