.messages {
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 5%;
}

.message_area {
    padding-left: 0;
}

.sent {
    text-align: right;
}

input {
    margin-right: 10px;
}

.message_users {
    height: 80vh;
    overflow-y: scroll;
    background-color: #f0f0f0;
}


.users {
    cursor: pointer;
    padding: 0 10%;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f0f0f0;
}

.users:hover {
    background-color: #fff;
    border: 1px solid black;
}

.selected {
    background-color: #fff;
    box-shadow: 1px 5px 10px rgba(200, 200, 200, 0.8);
}

