<div class="message_container row" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <div class="message_users col-md-2">
        <ng-container *ngFor="let user of users">
        <div *ngIf="user.userID != loggedInUser.userID" class="users" [class.selected]="user.userID === selectedUserId" (click)="getMessageBox(user.userID)">
            <p>{{user.fullName}}</p>
        </div>
        </ng-container> 
    </div>
    <div class="message_area col-md-9">
        <div class="messages">
        <div *ngIf="selectedUserId">
            <p>Start of messages</p>
            <ng-container *ngFor="let msg of allMessages">
                <p [ngClass]="{sent: msg.state == 'sent'}">{{msg.msg.messageText}}: {{msg.msg.sentDate}} - {{msg.state}}</p>
            </ng-container>
        </div>
        </div>
        <div class="input-message">
            <form #sendTextMessage="ngForm" (ngSubmit)="sendMessage()" ngNativeValidate class="d-flex" autocomplete="off">
                <input name="Message" [(ngModel)]="message.messageText" class="form-control me-2" type="text" placeholder="Message..." required>
                <button class="btn btn-outline-success" type="submit">Send</button>
              </form>
        </div>
    </div>
</div>