<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <div *ngIf="accountService.isAssCoachAuthorized(loggedInUser)">
        <h2 id="createPlayerTitle">Add New User</h2>
        <br>
        <a id="backToUsers" routerLink="/players">Back to Users</a>
        <br>
        <form #createUserForm="ngForm" (ngSubmit)="createUser()" ngNativeValidate autocomplete="off">
            <label id="createPlayerLabel" for="Username">Username</label>
            <input id="createPlayerInput" name="Username" [(ngModel)]="model.userName" class="form-control me-2" type="text" placeholder="Username" aria-label="Username">
            <br>
            <label id="createPlayerLabel" for="Password">Password</label>
            <input id="createPlayerInput" name="Password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password" aria-label="Password">
            <br>
            <label id="createPlayerLabel" for="FullName">Full Name</label>
            <input id="createPlayerInput" name="FullName" [(ngModel)]="model.fullName" class="form-control me-2" type="text" placeholder="Full Name" aria-label="FullName">
            <br>
            <label id="createPlayerLabel" for="PhoneNumber">Phone Number</label>
            <input id="createPlayerInput" name="PhoneNumber" [(ngModel)]="model.phoneNumber" class="form-control me-2" type="tel" placeholder="Phone Number" aria-label="PhoneNumber">
            <br>
            <label id="createPlayerLabel" for="Email">Email</label>
            <input id="createPlayerInput" name="Email" [(ngModel)]="model.email" class="form-control me-2" type="email" placeholder="Email" aria-label="Email">
            <br>
            <label id="createPlayerLabel" for="Roles">Role</label>
            <select name="Role" [(ngModel)]="model.role" required class="form-select form-select-lg mb-3">
                <option selected></option>
                <option *ngFor="let role of roleList">{{role.roleName}}</option>
            </select>
            <br>
            <br>
            <button id="createPlayerButton" class="btn btn-outline-success" type="submit">Create</button>
        </form>
        
    </div>

    <ng-container *ngIf="!accountService.isAssCoachAuthorized(loggedInUser)">
        <h2 class="text-center">Not Authorized</h2>
        <p class="text-center"><a  [routerLink]="['']">Go home.</a></p>
    </ng-container>
</div>

<!-- If the user is not logged in -->
<div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
</div>