#createGameTitle {
    text-align: center;
}

#backToCreateGame {
    margin-left: 25%;
    padding-top: 10%;
}

#createGame {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#homeTeamLabel {
    margin-right: 1%;
}

#homeTeamDropdown {
    width: 30%;
    margin-right: 8%;
}

#awayTeamLabel {
    margin-right: 1%;
}

#awayTeamDropdown {
    width: 30%;
}

#createGameButton {
    margin-left: 43%;
}
