<div class="container" *ngIf="(accountService.currentUser$ | async) as loggedInUser">
    <ng-container *ngIf="accountService.isLeagueAdminAuthorized(loggedInUser) || (isTeam && accountService.isCoachAuthorized(loggedInUser))">
      <h3 id="createArticleTitle">Create Article</h3>
      <!--
      <a routerLink="/games" id="backToCreateGame">Back to Games</a><br>
      -->
      <form #createArticleForm="ngForm"  (ngSubmit)="createArticle()" ngNativeValidate  autocomplete="off" id="createArticle">
        <label for="title">Title</label>
        <input name="title" [(ngModel)]="newArticle.title" class="form-control me-2" type="text">
        <br>
        <label for="body">Body</label>
        <input name="body" [(ngModel)]="newArticle.body" class="form-control me-2" type="text">
        <br>
        <div *ngIf="isTeam">
            <label for="teamId">Team Id</label>
            <input name="teamId" [(ngModel)]="newArticle.teamId" class="form-control me-2" type="number" min="0">
            <br>
        </div>
        <label for="isVisible">Is Visible?</label>
        <input name="isVisible" [(ngModel)]="newArticle.isVisible" class="form-control me-2" type="checkbox">
        <br>
        <!-- Should not be changeable?
        <label for="date">Date (Needs Validation)</label>
        <input name="date" [(ngModel)]="newArticle.date" class="form-control me-2" type="text" >
        <br>
        -->
        <label for="isPinned">Is Pinned?</label>
        <input name="isPinned" [(ngModel)]="newArticle.Pinned" class="form-control me-2" type="checkbox">
        <!--
        <label for="ItemId" id="homeTeamLabel">Home Team</label>
        <select name="HomeTeam" [(ngModel)]="newArticle.homeTeam" required id="homeTeamDropdown">
          <option selected></option>
          <option *ngFor="let team of teamList">{{team.name}}</option>
        </select>
        <label for="ItemId" id="awayTeamLabel">Away Team</label>
        <select name="AwayTeam" [(ngModel)]="newArticle.awayTeam" required id="awayTeamDropdown">
          <option selected></option>
          <option *ngFor="let team of teamList">{{team.name}}</option>
        </select>
        -->
        <br>
        <br>
        <button class="btn btn-outline-success" type="submit" id="createGameButton">Create</button>
      </form>
    </ng-container>

    <ng-container *ngIf="!(accountService.isLeagueAdminAuthorized(loggedInUser) || (isTeam && accountService.isCoachAuthorized(loggedInUser)))">
      <h2 class="text-center">Not Authorized</h2>
      <p class="text-center"><a  [routerLink]="['']">Go home.</a></p>
    </ng-container>
  </div>
  
  <!-- If the user is not logged in -->
  <div *ngIf="(accountService.currentUser$ | async) === null">
    <app-home></app-home>
  </div>